<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ColorNote Test Suite" parallel="tests" thread-count="2">

    <!-- Parameter to pass emulator deviceName -->
    <parameter name="deviceName" value="emulator-5556" />

    <!-- Listener for ExtentReports and screenshots -->
    <listeners>
        <listener class-name="utils.TestListener" />
    </listeners>

    <test name="App Launch Tests">
        <classes>
            <class name="tests.AppLaunchTest" />
        </classes>
    </test>

</suite>
